/* Header */

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8.4rem;
    background: #F5F5F5;
    position: fixed;
    z-index: 1;
}

.nav--container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cupra--logo-container{
    max-width: 14.2rem;
    height: auto;
    margin-right: 9.6rem;

}

.logo--img{
    width: 100%;
}

.main--nav-list{
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
}

.main-nav-link{
    color: #242221;
}

.nav--tel{
    color: #242221;
}

.btn{
    padding: 0 2.4rem;
    line-height: 4.8rem;
    max-height: 4.8rem;
    display: inline-block;
    border: unset;
}

.btn--white{
    background-color: white;
    color: #000;
    border: 1px solid #000;
}

.btn--black{
    background-color: #000;
    color: #FFF;
}

.links--container{
    max-width: 113.4rem;
    width: 100%;
    justify-content: space-between;
}

.btn--container{
    gap: 2.4rem;
}

.nav--tel{
    width:100%;
    margin-right: 2.4rem;
}

/* Hero section */

.hero-section{
    width: 100%;
    position: relative;
    font-size: 0;
}

.hero--video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.btn--cream{
    background: #DBD3CB;
    color:#000;
}

.hero--head{
    color: rgba(255,255,255,0.5);
    display: inline-block;
}




.hero--container{
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
}

.hero--banner{
    position: absolute;
    bottom: 128px;
    left: 0;
}

/* Try out section */

.try--out-section{
    padding:10.4rem 0;
    background-color: #1B1B1B;
}

.try--out-columns{
}

.try--first-column{
    max-width: 78.7rem;
}

.try--second-column{
    height: 100%;
}

.max-w-553{
    max-width: 55.3rem;
}

.try--out-front{
    margin-bottom: 15.8rem;
}

.try--out-side{
    margin-top: 28rem;
}