/* Header */

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8.4rem;
    background: #F5F5F5;
    position: fixed;
    z-index: 999;
}

.nav--container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cupra--logo-container{
    max-width: 14.2rem;
    height: auto;
    margin-right: 9.6rem;

}

.logo--img{
    width: 100%;
}

.main--nav-list{
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
}

.main-nav-link{
    color: #242221;
}

.nav--tel{
    color: #242221;
}

.btn{
    padding: 0 2.4rem;
    line-height: 4.8rem;
    max-height: 4.8rem;
    display: inline-block;
    border: unset;
}

.btn--white{
    background-color: white;
    color: #000;
    border: 1px solid #000;
}

.btn--black{
    background-color: #000;
    color: #FFF;
}

.btn--black-cream{
    border: 1px solid #DBD3CB;
}

.links--container{
    max-width: 113.4rem;
    width: 100%;
    justify-content: space-between;
}

.btn--container{
    gap: 2.4rem;
}

.nav--tel{
    width:100%;
    margin-right: 2.4rem;
}

/* Hero section */

.hero-section{
    width: 100%;
    position: relative;
    font-size: 0;
}

.hero--video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.btn--cream{
    background: #DBD3CB;
    color:#000;
}

.hero--head{
    color: rgba(255,255,255,0.5);
    display: inline-block;
}




.hero--container{
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
}

.hero--banner{
    position: absolute;
    bottom: 128px;
    left: 0;
}

/* Try out section */

.try--out-section{
    padding:10.4rem 0;
    background-color: #1B1B1B;
}

.try--out-columns{
}

.try--first-column{
    max-width: 78.7rem;
}

.try--second-column{
    height: 100%;
}

.max-w-553{
    max-width: 55.3rem;
}

.try--out-front{
    margin-bottom: 15.8rem;
}

.try--out-side{
    margin-top: 28rem;
}

/* Splide car models section */

.splide-models{
    padding: 10.4rem 0;
    background-color:  #F5F5F5;
}

.heading--tertiary{
    line-height: 108%;
}

.splide__slide-models{
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: .5s opacity;
}

.splide__slide-models.is-active{
    opacity: 1;
}

.max-w-140{
    max-width: 14rem;
}

.splide-models .splide__pagination{
    display: none;
}

.splide-models .splide__arrows .splide__arrow--prev{
    left:23vw;
}

.splide-models .splide__arrows .splide__arrow--next{
    right:23vw;
}

.splide-models .splide__arrows .splide__arrow{
    width: 5rem;
    height: 5rem;
    border-radius: unset;
    background-color: #fff;
    opacity: unset;
}

/* section formentor */

.section-formentor{
    padding: 10.4rem 0 0;
    background: #1B1B1B;
}

.img-text-container{
    position: relative;
    margin-bottom: 8rem;
}

.position-heading{
    display: inline-block;
    position: absolute;
    bottom: 4.8rem;
    left: 3.2rem;
}

.max-w-638{
    max-width: 63.8rem;
}

.splide-formentor-desc{
    line-height: 150%;
    font-weight: 350;
    color: rgba(255,255,255,0.5);
}

.pad-32{
    padding: 0 3.2rem;
}

.splide-formentor-desc .splide__arrows .splide__arrow--prev{
    left: 2.4rem;
}

.splide-formentor-desc .splide__arrows .splide__arrow--next{
    right: 2.4rem;
}

.splide-formentor-desc .splide__arrows .splide__arrow{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: #fff;
    top: 6.4rem;
    opacity: 1;
}

.splide-formentor-desc .splide__arrows .splide__arrow:disabled{
    opacity: 0;
}

.splide-formentor-desc .splide__pagination{
    margin: 5.1rem 0;
    position: unset;
}

.splide-formentor-desc .splide__pagination .splide__pagination__page.is-active{
    background: #FFFFFF;
}

.splide-formentor-desc .splide__pagination .splide__pagination__page{
    width: 20px;
    height: 2px;
    transform: unset;
    opacity: .6;
}

/* section amazed */

.section-amazed{
    padding: 16rem 0 10.4rem;
    background: #fff;
}

.section-amazed .container{
    padding: 0 3.2rem;
}

.amazed-row{
    position: relative;
}

.splide-amazed{
    max-width: 78.7rem;
}

.splide-amazed .splide__pagination{
    display: none;
}

.amazed-desc{
    position: absolute;
    width: 67rem;
    background-color: #FFF;
}

.amazed-desc-right{
    right:0;
}

.amazed-desc-left{
    left:0;
}

.amazed-desc .margin-auto{
    max-width: 43.6rem;
}

.splide-amazed .splide__arrows .splide__arrow{
    width: 5rem;
    height: 5rem;
    border-radius: unset;
    background-color: #fff;
    opacity: .6;
}

.splide-amazed .splide__arrow--prev{
    left: 2.4rem;
}

.splide-amazed .splide__arrow--next{
    right: 10.9rem;
}

.amazed-row-right .splide__arrow--prev{
    left: 10.9rem;
}

.amazed-row-right .splide__arrow--next{
    right: 2.4rem;
}

.good-sensation-box{
    max-width: 113.8rem;
    height: 438px;
    background-color: #093E52;
    padding:12.8rem 0;
}

.sensation-heading{
    font-size: 4rem;
    line-height: 110%;
}

/* Section car models */

.section-car-models{
    padding: 10.4rem 0;
    background: #fff;
}

.cars-container{
    width: 100%;
    column-gap: 3.2rem;
    row-gap: 10.8rem;
    margin-bottom: 8.4rem;
}

.car-box{
    background-color: #fff;
    position: relative;
    height: 58rem;
}

.landscape-desc{
    width: 38.8rem;
    height: 36.9rem;
    padding: 4rem 2.4rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.btn--round{
    border-radius: 50rem;
    line-height: 4.4rem;
    display: inline-block;
    height: 4.4rem;
    background-color: #000;
    color: #FFFFFF;
    padding: 0 3.2rem;
}

.landscape-desc::before,.landscape-desc::after{
    content: "";
    height: 1px;
    width: 34rem;
    background: #75787B;
    position: absolute;
    left: 2.4rem;
}

.landscape-desc::before{
    bottom: 0;
}

.landscape-desc::after{
    bottom: 12.4rem;
}

/* Section maps */

.interested-box{
    max-width: 113.8rem;
    height: 438px;
    background-image: url(../img/interested-banner.png);
    padding:12.8rem 0;
    position: relative;
    z-index: 1;
    margin: 0 auto 10.4rem;
}

.interested-box::before{
    position: absolute;
    content: "";
    background-color: rgba(0,0,0,0.64);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.position-shadow-box{
    position: relative;
    z-index: 2;
}

.maps-container{
    max-width: 137.2rem;
    padding: 0 3.2rem; 
    margin: 0 auto;
}

.map-box{
    max-width: 67rem;
    height: 64.1rem;
    position: relative;    
}

.map-desc{
    width: 33.8rem;
    padding: 3.2rem 3.2rem 4rem;
    background:#fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.map-desc-text{
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 350;
    color: #000;
    display: inline-block;
}

.blue-link{
    color: #007BFF;
}

/* footer */

.footer{
    border-top:1px solid #D5D5D5;
    width: 100%;
    height: 11.6rem;
}

.footer-column{
    width: 71.3rem;
    padding: 0 1.6rem 0 3.2rem;
}

.footer-column:first-child{
    border-right: 1px solid #DBDBDB;
}

.icon-margin{
    margin-right: 3.2rem;
}